PORT=3000
URL=http://localhost:3000

# Repository from which you want to serve the releases
ACCOUNT=vercel
REPOSITORY=hyper

# Needs to be set to "github" or "forgejo"
REPO_PLATFORM=github

# Uncomment if you are on Forgejo/Gitea
# INSTANCE_URL=

# Uncomment if your repo is on private
# TOKEN=
